In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [3]:
cities = ["Gdańsk","Poznań","Wrocław","Warszawa","Radom","Sosnowiec"]
serie = pd.Series(cities)
serie

0       Gdańsk
1       Poznań
2      Wrocław
3     Warszawa
4        Radom
5    Sosnowiec
dtype: object

In [4]:
type(serie)

pandas.core.series.Series

In [5]:
serie.values

array(['Gdańsk', 'Poznań', 'Wrocław', 'Warszawa', 'Radom', 'Sosnowiec'],
      dtype=object)

In [7]:
list(serie.index)

[0, 1, 2, 3, 4, 5]

In [8]:
cities = ["Gdańsk","Poznań","Wrocław","Warszawa","Radom","Sosnowiec"]
plates = ["GD", "PO", "DW", "WI", "WRA", "SO"]
serie = pd.Series(cities, plates)
serie

GD        Gdańsk
PO        Poznań
DW       Wrocław
WI      Warszawa
WRA        Radom
SO     Sosnowiec
dtype: object

In [10]:
serie.index

Index(['GD', 'PO', 'DW', 'WI', 'WRA', 'SO'], dtype='object')

In [11]:
countries = ["Poland", "Germany", "Russia", "USA", "UK"]
population = [38321543, 84123567, 150765222, 320987654, 62123456]
serie = pd.Series(population, countries)
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [13]:
# filtrowanie serii
serie[ serie>80_000_000 ]

Germany     84123567
Russia     150765222
USA        320987654
dtype: int64

In [14]:
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [15]:
def convert_pop(x):
    if x<50_000_000:
        return "L"
    if x<100_000_000:
        return "M"
    return "H"

In [18]:
convert_pop(105_123_456)

'H'

In [19]:
serie.apply(convert_pop)

Poland     L
Germany    M
Russia     H
USA        H
UK         M
dtype: object

In [21]:
serie / 1_000_000

Poland      38.321543
Germany     84.123567
Russia     150.765222
USA        320.987654
UK          62.123456
dtype: float64

In [24]:
serie.apply(lambda x: f"{x/1_000_000:.2f} mln")

Poland      38.32 mln
Germany     84.12 mln
Russia     150.77 mln
USA        320.99 mln
UK          62.12 mln
dtype: object

In [26]:
serie.sort_values(ascending=False)

USA        320987654
Russia     150765222
Germany     84123567
UK          62123456
Poland      38321543
dtype: int64

In [28]:
serie.sort_index(ascending=False)

USA        320987654
UK          62123456
Russia     150765222
Poland      38321543
Germany     84123567
dtype: int64

In [29]:
# mapowanie danych
serie = pd.Series(["PL","UK","RU"])
serie

0    PL
1    UK
2    RU
dtype: object

In [31]:
countries_map = {
    "PL" : "Poland", "UK": "The United Kingdom", #"RU" : "Russia"
}
serie.map(countries_map)

0                Poland
1    The United Kingdom
2                   NaN
dtype: object

### Lokalizowanie danych w serii

In [32]:
countries = ["Poland", "Germany", "Russia", "USA", "UK"]
population = [38321543, 84123567, 150765222, 320987654, 62123456]
serie = pd.Series(population, countries)
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [39]:
serie["Poland"], serie.loc["Poland"], serie.Poland, serie[0], serie.iloc[0]

(38321543, 38321543, 38321543, 38321543, 38321543)

In [40]:
serie.loc["Poland":"USA"]

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
dtype: int64

In [42]:
serie.iloc[0:4]

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
dtype: int64

In [43]:
serie.loc[ ["Poland","USA"] ]

Poland     38321543
USA       320987654
dtype: int64

In [53]:
serie.loc[ ["USA","Poland"] ]

USA       320987654
Poland     38321543
dtype: int64

In [54]:
serie.loc[ "Poland":"USA":2 ]

Poland     38321543
Russia    150765222
dtype: int64

In [49]:
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [51]:
serie.iloc[ [1,-1] ]

Germany    84123567
UK         62123456
dtype: int64

In [52]:
serie.iloc[ [-1] ]

UK    62123456
dtype: int64