In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/kurs/Downloads/sales-records.csv")
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
2,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
3,Sub-Saharan Africa,Djibouti,Clothes,Offline,H,5/17/2017,880811536,7/2/2017,562,109.28,35.84,61415.36,20142.08,41273.28
4,Europe,Slovakia,Beverages,Offline,L,10/26/2016,174590194,12/4/2016,3973,47.45,31.79,188518.85,126301.67,62217.18
5,Asia,Sri Lanka,Fruits,Online,L,11/7/2011,830192887,12/18/2011,1379,9.33,6.92,12866.07,9542.68,3323.39
6,Sub-Saharan Africa,Seychelles,Beverages,Online,M,1/18/2013,425793445,2/16/2013,597,47.45,31.79,28327.65,18978.63,9349.02
7,Sub-Saharan Africa,Tanzania,Beverages,Online,L,11/30/2016,659878194,1/16/2017,1476,47.45,31.79,70036.20,46922.04,23114.16
8,Sub-Saharan Africa,Ghana,Office Supplies,Online,L,3/23/2017,601245963,4/15/2017,896,651.21,524.96,583484.16,470364.16,113120.00
9,Sub-Saharan Africa,Tanzania,Cosmetics,Offline,L,5/23/2016,739008080,5/24/2016,7768,437.20,263.33,3396169.60,2045547.44,1350622.16

In [3]:
df.dtypes

Region             object
Country            object
Item Type          object
Sales Channel      object
Order Priority     object
Order Date         object
Order ID            int64
Ship Date          object
Units Sold          int64
Unit Price        float64
Unit Cost         float64
Total Revenue     float64
Total Cost        float64
Total Profit      float64
dtype: object

In [4]:
df.shape

(1000000, 14)

In [5]:
df.memory_usage().sum()

112000128

In [6]:
df.memory_usage(deep=True).sum()

513707055

In [7]:
df.Region.unique()

array(['Sub-Saharan Africa', 'Middle East and North Africa',
       'Australia and Oceania', 'Europe', 'Asia',
       'Central America and the Caribbean', 'North America'], dtype=object)

In [8]:
len(df.Country.unique())

185

In [9]:
df.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit'],
      dtype='object')

In [10]:
# kategoryzacja kolumn tekstowych
for col in ['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority']:
    df[col] = df[col].astype("category")
    print(col)

Region
Country
Item Type
Sales Channel
Order Priority

In [11]:
df.dtypes

Region            category
Country           category
Item Type         category
Sales Channel     category
Order Priority    category
Order Date          object
Order ID             int64
Ship Date           object
Units Sold           int64
Unit Price         float64
Unit Cost          float64
Total Revenue      float64
Total Cost         float64
Total Profit       float64
dtype: object

In [12]:
df.memory_usage(deep=True).sum() / (1024*1024)

184.9105167388916

In [13]:
df.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1.000000e+06,1.000000e+06
mean,5.493520e+08,4998.867302,266.025488,187.522978,1.329563e+06,9.372671e+05,3.922956e+05
std,2.599397e+08,2885.334142,216.987966,175.650798,1.468527e+06,1.148954e+06,3.788199e+05
min,1.000012e+08,1.000000,9.330000,6.920000,9.330000e+00,6.920000e+00,2.410000e+00
25%,3.239629e+08,2502.000000,81.730000,35.840000,2.778672e+05,1.617289e+05,9.510480e+04
50%,5.486524e+08,4998.000000,154.060000,97.440000,7.844445e+05,4.667818e+05,2.810549e+05
75%,7.745981e+08,7496.000000,421.890000,263.330000,1.822444e+06,1.196327e+06,5.653076e+05
max,9.999999e+08,10000.000000,668.270000,524.960000,6.682700e+06,5.249600e+06,1.738700e+06

In [14]:
df["Units Sold"] = df["Units Sold"].astype('uint16')
df.memory_usage(deep=True).sum() / (1024*1024)

179.1884708404541

In [15]:
df["Unit Price"] = df["Unit Price"].astype('float32')
df["Unit Cost"] = df["Unit Cost"].astype('float32')
df.memory_usage(deep=True).sum() / (1024*1024)

171.5590763092041

In [20]:
df["Order Date"] = pd.to_datetime(df["Order Date"], format="%m/%d/%Y", errors="coerce")
df["Ship Date"] = pd.to_datetime(df["Ship Date"], format="%m/%d/%Y", errors="coerce")
df.memory_usage(deep=True).sum() / (1024*1024)

61.05331039428711

In [21]:
df.dtypes

Region                  category
Country                 category
Item Type               category
Sales Channel           category
Order Priority          category
Order Date        datetime64[ns]
Order ID                   int64
Ship Date         datetime64[ns]
Units Sold                uint16
Unit Price               float32
Unit Cost                float32
Total Revenue            float64
Total Cost               float64
Total Profit             float64
dtype: object

In [23]:
type(df["Unit Price"].sum())

numpy.float32